<div class="filter-container">
  <button
    (click)="filterProjects('Todos')"
    [class.active]="selectedCategory === 'Todos'"
  >
    Todos
  </button>
  <button
    (click)="filterProjects('Web')"
    [class.active]="selectedCategory === 'Web'"
  >
    Web
  </button>
  <button
    (click)="filterProjects('Front')"
    [class.active]="selectedCategory === 'Front'"
  >
    Front-end
  </button>
  <button
    (click)="filterProjects('Back')"
    [class.active]="selectedCategory === 'Back'"
  >
    Back-end
  </button>
  <button
    (click)="filterProjects('Fullstack')"
    [class.active]="selectedCategory === 'Fullstack'"
  >
    Fullstack
  </button>
</div>
<!-- 
<app-card-gallery
  [day]="'13'"
  [month]="'Aug'"
  [year]="'2023'"
  [author]="'John Smith'"
  [title]="'My Custom Title'"
  [text]="'This is my custom content for the card.'"
  [likes]="25"
  [comments]="7"
>
</app-card-gallery> -->

<div class="gallery-container">
  <div class="gallery-item" *ngFor="let project of filteredProjects">
    <app-card-gallery
      [day]="'13'"
      [month]="'Aug'"
      [year]="'2023'"
      [title]="project.title"
      [text]="project.description"
      [projetoNumber]="project.projetoNumber"
      [comments]="7"
      [img]="project.image"
      [site]="project.site"
    >
    </app-card-gallery>
    <!-- <img [src]="project.image" [alt]="project.title" class="gallery-image" />
    <div class="project-info">
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
    </div> -->
  </div>
</div>

<!-- TODO: Colocar tecnologias em forma de icones nos cards E criar uma nova página para lidar com apresentação do projeto -->
