<mat-toolbar
  color="primary"
  class="app-toolbar"
  [ngClass]="{ hidden: !isScrolled && isLandingPage }"
>
  <button mat-icon-button (click)="scrollToTop()" class="menu-toggle">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="imagem"></div>
  <span class="spacer"></span>
  <div class="desktop-menu">
    <a mat-button href="#inicio" (click)="onNavigate($event, 'inicio')"
      >Início</a
    >
    <a mat-button href="#sobre" (click)="onNavigate($event, 'sobre')">Sobre</a>
    <a mat-button href="#portfolio" (click)="onNavigate($event, 'portfolio')"
      >Portfólio</a
    >
    <a mat-button href="#contato" (click)="onNavigate($event, 'contato')"
      >Contato</a
    >
  </div>
</mat-toolbar>
