<div class="container-sobre" id="sobre">
  <div class="imagem"></div>
  <div class="container-eu-sou">
    <h1>Ola, eu sou Jesiel Faria!</h1>
    <p>
      Sou apaixonado por tecnologia, formado em Análise e
      Desenvolvimento de Sistemas pela Universidade Católica de Brasília e alia
      paixão por tecnologia à criatividade, sempre buscando soluções eficientes
      para os desafios digitais.
    </p>
  </div>
</div>

<!-- Swiper --><!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- service 1 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-angular"></i></div>
          <h3 class="service__title">Angular</h3>
        </div>
        <p class="service__text">
          O AngularJS é um framework de código aberto usado para construir
          aplicativos para web baseados em uma única página dinâmica.
        </p>
      </div>
    </div>
    <!-- service 2 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-react"></i></div>
          <h3 class="service__title">React</h3>
        </div>
        <p class="service__text">
          React é uma biblioteca JavaScript para construir interfaces de
          usuário, com foco na criação de componentes reutilizáveis.
        </p>
      </div>
    </div>
    <!-- service 3 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-node"></i></div>
          <h3 class="service__title">Node.js</h3>
        </div>
        <p class="service__text">
          Node.js é um ambiente de execução JavaScript no lado do servidor,
          utilizado para construir aplicativos escaláveis e rápidos.
        </p>
      </div>
    </div>
    <!-- service 1 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-angular"></i></div>
          <h3 class="service__title">Angular</h3>
        </div>
        <p class="service__text">
          O AngularJS é um framework de código aberto usado para construir
          aplicativos para web baseados em uma única página dinâmica.
        </p>
      </div>
    </div>
    <!-- service 2 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-react"></i></div>
          <h3 class="service__title">React</h3>
        </div>
        <p class="service__text">
          React é uma biblioteca JavaScript para construir interfaces de
          usuário, com foco na criação de componentes reutilizáveis.
        </p>
      </div>
    </div>
    <!-- service 3 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-node"></i></div>
          <h3 class="service__title">Node.js</h3>
        </div>
        <p class="service__text">
          Node.js é um ambiente de execução JavaScript no lado do servidor,
          utilizado para construir aplicativos escaláveis e rápidos.
        </p>
      </div>
    </div>
    <!-- service 1 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-angular"></i></div>
          <h3 class="service__title">Angular</h3>
        </div>
        <p class="service__text">
          O AngularJS é um framework de código aberto usado para construir
          aplicativos para web baseados em uma única página dinâmica.
        </p>
      </div>
    </div>
    <!-- service 2 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-react"></i></div>
          <h3 class="service__title">React</h3>
        </div>
        <p class="service__text">
          React é uma biblioteca JavaScript para construir interfaces de
          usuário, com foco na criação de componentes reutilizáveis.
        </p>
      </div>
    </div>
    <!-- service 3 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon"><i class="fab fa-node"></i></div>
          <h3 class="service__title">Node.js</h3>
        </div>
        <p class="service__text">
          Node.js é um ambiente de execução JavaScript no lado do servidor,
          utilizado para construir aplicativos escaláveis e rápidos.
        </p>
      </div>
    </div>
    <!-- Adicione mais slides conforme necessário -->
  </div>
  <!-- Controles de navegação -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
  <!-- Barra de navegação -->
  <!-- <div class="swiper-pagination"></div> -->
</div>
