<div class="hero">
  <div class="hero__wrapper">
    <div class="col-lg-8">
      <div class="hero__text">
        <p class="align-doctype">
          &lt;!DOCTYPE <span class="html-tag">html</span>&gt;
        </p>
        <p>&lt;html&gt;</p>
        <p>&emsp;&lt;h1&gt;</p>
      </div>

      <div class="hero__title">
        <span>&emsp;Eu sou </span>
        <span class="typing__module">
          <span class="typed"></span>
        </span>
      </div>

      <div class="hero__text">
        <p>&emsp;&lt;/h1&gt;</p>
        <p>&lt;/html&gt;</p>
      </div>
    </div>
  </div>
</div>
