@import "swiper/swiper-bundle.css";

.container-sobre {
  display: flex;
  width: 84%;
  padding-left: 8%;
  padding-top: 5vh;
}

.container-eu-sou {
  padding-left: 10vh;
  padding-right: 10vh;
  h1 {
    padding-top: 5vh;
    padding-bottom: 2vh;
  }
}

.imagem {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../assets/figura.jpg");
  width: 100%;
  height: 400px;
  padding: 10px;
}

@media (max-width: 1200px) {
  .container-sobre {
    padding-left: 10vh;
  }

  .container-eu-sou {
    padding-left: 5vh; // Ajuste para telas intermediárias
    padding-right: 5vh;
  }

  .imagem {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/figura.jpg");
    width: 120vh;
    height: 40vh;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container-sobre {
    display: flex;
    flex-direction: column; // Empilha a imagem acima do texto
    align-items: center; // Centraliza os itens no eixo cruzado
    padding-left: 0vh;
    width: 100%;
  }

  .container-eu-sou {
    padding: 0;
    h1 {
      text-align: center; // Centraliza o título
    }
    p {
      text-align: center; // Centraliza o parágrafo
    }
  }

  .imagem {
    height: 300px; // Ajuste a altura da imagem para telas menores
    width: 100%; // Deixa a imagem ocupar mais espaço na tela
    padding: 0;
  }
}
