<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<div id="Clouds">
  <div class="Cloud Foreground">
    <i class="fab fa-js-square"></i>
    <!-- Ícone JavaScript -->
  </div>

  <div class="Cloud Background">
    <i class="fab fa-html5"></i>
    <!-- Ícone HTML5 -->
  </div>
  <div class="Cloud Foreground">
    <i class="fab fa-css3-alt"></i>
    <!-- Ícone CSS3 -->
  </div>
  <div class="Cloud Background">
    <i class="fab fa-bootstrap"></i>
    <!-- Ícone Bootstrap -->
  </div>

  <div class="Cloud Foreground">
    <i class="fab fa-github"></i>
    <!-- Ícone Git -->
  </div>
  <div class="Cloud Background">
    <i class="fab fa-gitlab"></i>
    <!-- Ícone GitLab -->
  </div>
  <div class="Cloud Foreground">
    <i class="fab fa-aws"></i>
    <!-- Ícone AWS -->
  </div>
  <div class="Cloud Background">
    <i class="fab fa-jenkins"></i>
    <!-- Ícone Jenkins -->
  </div>

  <div class="Cloud Foreground">
    <img src="../../../assets/icons/vscode_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Background">
    <img src="../../../assets/icons/ionic_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Foreground">
    <img src="../../../assets/icons/karma_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Background">
    <img src="../../../assets/icons/node_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Foreground">
    <img src="../../../assets/icons/react_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Background">
    <img src="../../../assets/icons/ts_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Foreground">
    <img src="../../../assets/icons/test_icon.png" alt="Dart" />
  </div>

  <div class="Cloud Background">
    <i class="fab fa-android"></i>
    <!-- Ícone Android Studio -->
  </div>

  <div class="Cloud Foreground">
    <i class="fab fa-figma"></i>
    <!-- Ícone Figma -->
  </div>

  <div class="Cloud Foreground">
    <i class="fab fa-jira"></i>
    <!-- Ícone Jira -->
  </div>
</div>
