@use "sass:math";

#Clouds {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 110vh; // Garante que o contêiner cubra toda a altura da tela
  width: 100vw; // Garante que o contêiner cubra toda a largura da tela
  overflow: hidden;
  animation: FadeIn 3.1s ease-out;
  user-select: none;
  // background-color: blueviolet;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$duration: 90s;
$height: 10%;

.Cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain; // Garante que a imagem se ajuste ao tamanho do elemento sem cortar
  background-position: center; // Centraliza a imagem
  height: 100px;
  animation: Float $duration linear infinite, FadeFloat $duration infinite;
  z-index: 1;

  i {
    font-size: 50px; // Tamanho do ícone
    color: #fff; // Cor do ícone
    display: block;
    margin: auto;
    text-shadow: rgb(37, 37, 37) 0.05em 0.05em 0.05em;
  }
}

img {
  width: 50px;
}

.Cloud.Foreground {
  height: $height;
  min-height: 20px;
  z-index: 3;
}

.Cloud.Background {
  height: math.div($height, 1.1);
  min-height: 8px;
  animation-duration: $duration * 1.75;
}

@keyframes Float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}

@keyframes FadeFloat {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  90% {
    opacity: 1;
  }
}

// Loop para diferenciar o tempo de animação de cada nuvem
@for $i from 1 through 20 {
  // Ajuste aqui para o número de ícones
  .Cloud:nth-child(#{$i}) {
    animation-delay: math.div($duration, 6.5) * -1 * $i;
    top: $i *
      5%; // Aqui você pode alterar o valor de 6% para aumentar a distância
  }
  .Cloud.Foreground:nth-child(#{$i}) {
    animation-duration: ($duration - ($i * 4));
    height: ($height + ($i * 2.5));
  }
  .Cloud.Background:nth-child(#{$i}) {
    animation-duration: ($duration * 1.25 - ($i * 4));
    height: math.div($height, 1.1) - ($i * 1.25);
  }
}

// Configuração do body
// body {
//   color: #fff;
//   background-color: #fd940a;
//   background-image: radial-gradient(
//     circle,
//     #f9a72b 0%,
//     #fa9026 70%,
//     #fb6c1f 100%
//   );
// }
