<app-navbar></app-navbar>

<ng-container *ngIf="mostrarLanding; else routedContent">
  <div id="inicio">
    <app-inicio></app-inicio>
  </div>

  <div id="sobre">
    <app-sobre></app-sobre>
  </div>

  <div id="portfolio">
    <app-portfolio></app-portfolio>
  </div>

  <div id="contato">
    <app-contato></app-contato>
  </div>

  <div id="redes-sociais">
    <app-redes-sociais></app-redes-sociais>
  </div>
</ng-container>

<ng-template #routedContent>
  <router-outlet></router-outlet>
</ng-template>
