<!-- Menu Superior -->
<!-- <nav>
  <ul>
    <li><a routerLink="/inicio">Início</a></li>
    <li><a routerLink="/sobre">Sobre</a></li>
    <li><a routerLink="/portfolio">Portfólio</a></li>
    <li><a routerLink="/contato">Contato</a></li>
  </ul>
</nav> -->

<!-- Menu superior -->
<app-navbar></app-navbar>

<!-- <app-inicio></app-inicio>
<app-sobre></app-sobre> -->
<div id="inicio">
  <app-inicio></app-inicio>
</div>

<div id="sobre">
  <app-sobre></app-sobre>
</div>
<!-- Conteúdo Principal -->
<!-- <div class="content">
  <router-outlet></router-outlet>
</div> -->
