.fade-menu {
  transition: opacity 0.5s ease;
}

.fade-out {
  opacity: 0;
}

.spacer {
  flex: 1 1 auto;
}

#inicio,
#sobre {
  padding: 50px;
  min-height: 100vh; /* Garante que cada seção tenha pelo menos o tamanho da tela */
}

#inicio {
  background-color: var(
    --color-bg-primary
  ); /* Cor de fundo para a seção de Início */

  background-image: radial-gradient(
    circle,
    var(--color-bg-secondary) 0%,
    var(--color-surface) 60%,
    var(--color-bg-primary) 100%
  );
}

#sobre {
  background-color: var(--color-grey); /* Cor de fundo para a seção de Sobre */
}

#portfolio {
  background-color: var(--color-white); /* Cor de fundo para a seção de Sobre */
}

#contato {
  background-color: var(
    --color-bg-secondary
  ); /* Cor de fundo para a seção de Sobre */
}

/* Ajuste o navbar para sempre aparecer fixo */
.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}
