<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let project of projects">
      <app-card-portfolio
        [project]="project"
        (showDetails)="onShowDetails($event)"
      >
      </app-card-portfolio>
    </div>
  </div>

  <!-- Navegação e Paginação -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div> -->
</div>

<!-- Modal de Detalhes -->
<div *ngIf="selectedProject" class="project-details">
  <div class="details-overlay" (click)="hideDetails()"></div>
  <div class="details-content">
    <h2>{{ selectedProject.title }}</h2>
    <p>{{ selectedProject.details }}</p>
    <button (click)="hideDetails()">Fechar</button>
  </div>
</div>
