<!-- Swiper --><!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- service 1 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <!-- <div class="service__icon"><i class="fab fa-angular"></i></div> -->
          <div class="service__icon">
            <img src="../../../assets/logos_coloridas/angular.png" alt="Dart" />
          </div>

          <h3 class="service__title">Angular</h3>
        </div>
        <p class="service__text">
          Angular é uma plataforma de aplicações web de código-fonte aberto e
          front-end baseado em TypeScript liderado pela Equipe Angular do Google
          e por uma comunidade de indivíduos e corporações. Angular é uma
          reescrita completa do AngularJS, feito pela mesma equipe que o
          construiu.
        </p>
      </div>
    </div>
    <!-- service 2 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <!-- <div class="service__icon"><i class="fab fa-react"></i></div>
            -->
          <div class="service__icon">
            <img src="../../../assets/logos_coloridas/react.png" alt="Dart" />
          </div>
          <h3 class="service__title">React</h3>
        </div>
        <p class="service__text">
          React é uma biblioteca JavaScript para construir interfaces de
          usuário, com foco na criação de componentes reutilizáveis.
        </p>
      </div>
    </div>
    <!-- service 3 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <!-- <div class="service__icon"><i class="fab fa-node-js"></i></div> -->
          <div class="service__icon">
            <img src="../../../assets/logos_coloridas/nodejs.png" alt="Dart" />
          </div>
          <h3 class="service__title">Node.js</h3>
        </div>
        <p class="service__text">
          Node.js é um ambiente de execução JavaScript no lado do servidor,
          utilizado para construir aplicativos escaláveis e rápidos.
        </p>
      </div>
    </div>
    <!-- service 1 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon">
            <img src="../../../assets/logos_coloridas/Ionic.png" alt="Dart" />
          </div>
          <h3 class="service__title">Ionic</h3>
        </div>
        <p class="service__text">
          Ionic é um kit de ferramentas de UI de código aberto para a construção
          de aplicativos móveis, web e desktop multiplataforma usando
          tecnologias web como HTML, CSS e JavaScript/TypeScript. Ele fornece um
          conjunto de componentes e ferramentas de UI pré-projetados para
          construir aplicativos interativos de alta qualidade.
        </p>
      </div>
    </div>
    <!-- service 2 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon">
            <img src="../../../assets/logos_coloridas/react.png" alt="Dart" />
          </div>
          <h3 class="service__title">React Native</h3>
        </div>
        <p class="service__text">
          React Native é um framework de código aberto criado pela Meta
          Platforms, Inc. É usado para desenvolver aplicativos para Android,
          Android TV, iOS, macOS, tvOS, Web, Windows, e UWP, permitindo que os
          desenvolvedores usem a estrutura React juntamente com os recursos
          nativos de cada plataforma.
        </p>
      </div>
    </div>
    <!-- service 3 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <!-- <div class="service__icon"><i class="fab fa-node"></i></div> -->
          <div class="service__icon">
            <img src="../../../assets/logos_coloridas/flutter.png" alt="Dart" />
          </div>
          <h3 class="service__title">Flutter</h3>
        </div>
        <p class="service__text">
          Flutter é um kit de desenvolvimento de software de interface de
          usuário, de código aberto, criado pela empresa Google em 2015, baseado
          na linguagem de programação Dart, que possibilita a criação de
          aplicativos para Web e para os sistemas operacionais Android, iOS,
          Windows, macOS, Linux e Fuchsia.
        </p>
      </div>
    </div>
    <!-- service 1 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <div class="service__icon">
            <img
              src="../../../assets/logos_coloridas/spring-boot.png"
              alt="Dart"
            />
          </div>
          <h3 class="service__title">Java/Spring-boot</h3>
        </div>
        <p class="service__text">
          Spring Boot é uma estrutura Java de código aberto usada para programar
          aplicativos autônomos de nível de produção baseados em Spring com um
          pacote de bibliotecas que facilitam a inicialização e o gerenciamento
          de projetos.
        </p>
      </div>
    </div>
    <!-- service 2 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <img
            src="../../../assets/logos_coloridas/javascript.png"
            alt="Dart"
          />
          <h3 class="service__title">JavaScript</h3>
        </div>
        <p class="service__text">
          JavaScript (JS) é uma linguagem de programação usada para criar
          páginas web interativas. É uma das linguagens mais populares do mundo.
        </p>
      </div>
    </div>
    <!-- service 3 -->
    <div class="swiper-slide">
      <div class="service mb-0">
        <div class="align-icon-title">
          <img
            src="../../../assets/logos_coloridas/typescript.png"
            alt="Dart"
          />
          <h3 class="service__title">TypeScript</h3>
        </div>
        <p class="service__text">
          TypeScript é uma linguagem de programação de código aberto
          desenvolvida pela Microsoft. É um superconjunto sintático estrito de
          JavaScript e adiciona tipagem estática opcional à linguagem.
        </p>
      </div>
    </div>
    <!-- Adicione mais slides conforme necessário -->
  </div>
  <!-- Controles de navegação -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->
  <!-- Barra de navegação -->
  <!-- <div class="swiper-pagination"></div> -->
</div>
