.detalhar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0em 0px 0px 10em;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.swiper-container {
  width: 60%;
  padding-top: 5em;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      // width: 90%;
      // height: 90%;
      // object-fit: auto;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 12px;
      // box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.swiper-container {
  --swiper-theme-color: #00ffff; // vermelho, muda a cor das setas e da paginação
}

.detalhar-info {
  // background-color: #175050;

  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 6em;

  .detalhar-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .detalhar-descricao {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .btn-acessar {
    width: 20%;
    padding: 0.75rem 1.5rem;
    background-color: #00d1d1;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: darken(#00d1d1, 10%);
      // background-color: darken(#ff4800, 10%);
    }
  }

  .btn-voltar {
    width: 20%;
    padding: 0.75rem 1.5rem;
    background-color: #0d1c1c;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: darken(#00d1d1, 20%);
      // background-color: darken(#ff4800, 10%);
    }
  }

  .container-button {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 5em;
  }

  /* Icones de tecnologias no Detalhar projeto*/
  .tecnologias-usadas {
    // margin-top: 1.5rem;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .icones-tecnologias {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;

      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  /* FIM Icones de tecnologias no Detalhar projeto*/
}
