<div class="detalhar-container">
  <!-- Swiper com imagens -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of imagens">
        <img [src]="img" alt="Imagem do projeto" />
      </div>
    </div>

    <!-- Navegação (opcional) -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Informações -->
  <div class="detalhar-info">
    <h2 class="detalhar-title">{{ title }}</h2>
    <p class="detalhar-descricao">{{ text }}</p>
    <a [href]="linkProjeto" target="_blank" class="btn-acessar">Ver Projeto</a>
  </div>
</div>
