<div class="container-redes-sociais" id="contato">
  <!-- footer -->
  <div class="footer">
    <div id="back-to-top" (click)="onNavigate($event, 'inicio')">
      <i class="fas fa-chevron-up"></i>
    </div>
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__social">
          <p class="footer__copy">Redes sociais</p>
          <a
            class="social-icon"
            href="https://www.linkedin.com/in/jesiel-faria-571879153/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            class="social-icon"
            href="https://www.instagram.com/jesiel_faria/"
            target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            class="social-icon"
            href="https://github.com/Jesiel15"
            target="_blank"
            ><i class="fab fa-github"></i
          ></a>

          <a class="social-icon" href="https://wa.me/6198189269" target="_blank"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- End / footer -->
    <p class="copyright">
      <span class="heart-icon"
        ><i class="fa fa-heart" aria-hidden="true"></i></span
      >© Copyright 2025, Created by Jesiel Faria
    </p>
  </div>
</div>
